export LITELLM_MASTER_KEY=<master-key starting with sk->
export DATABASE_URL=<db url>
export STORE_MODEL_IN_DB='True'
export LITELLM_SALT_KEY=<salt-key>
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=<password>
export BUDSERVE_APP_BASEURL="http://localhost:8000"