.venv
.env
litellm_uuid.txt
__pycache__/
*.pyc
bun.lockb
**/.DS_Store
.aider*
litellm_results.jsonl
secrets.toml
.gitignore
**/litellm_secrets.toml
.idea/
router_config.yaml
**/config.yaml
router_config.yaml
.vscode/
**/api_logs.json
**/litellm.secrets.toml
.github/workflows/test/
litellm/proxy/_secret_config.yaml