model_list:
  - model_name: sonnet-4.6
    litellm_params:
      model: anthropic/claude-sonnet-4-6
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: gemini-2.5-flash-lite
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
  - model_name: azure-fake-gpt-5-batch-2025-08-07
    litellm_params:
      model: azure/gpt-5
      api_key: asasas
      api_base: http://0.0.0.0:8090

# litellm_settings:  
#   success_callback: ["s3_v2"]  
#   s3_callback_params:  
#     s3_bucket_name: logs-bucket-litellm  
#     s3_region_name: us-west-2  
#     s3_aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID  
#     s3_aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY  
#     s3_endpoint_url: http://0.0.0.0:8090  # Your custom endpoint URL

# general_settings:  
#   proxy_batch_polling_interval:  1000 