[tool.poetry]
name = "litellm"
version = "0.1.680"
description = "Library to easily interface with LLM API providers"
authors = ["BerriAI"]
license = "MIT License"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
openai = "^0.28.0 || ^0.27.0"
python-dotenv = ">=0.2.0"
tiktoken = "^0.4.0"
importlib-metadata = "^6.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
