[tool.poetry]
name = "litellm"
version = "0.6.1"
description = "Library to easily interface with LLM API providers"
authors = ["BerriAI"]
license = "MIT License"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
openai = "^0.28.0 || ^0.27.0"
python-dotenv = ">=0.2.0"
tiktoken = ">=0.4.0"
importlib-metadata = ">=6.8.0"
tokenizers = "*"
click = "*"
appdirs = "^1.4.4"
jinja2 = "^3.1.2"

[tool.poetry.scripts]
litellm = 'litellm:run_server'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.commitizen]
version = "0.6.1"
version_files = [
    "pyproject.toml:^version"
]

