# LITELLM PROXY DEPENDENCIES #
litellm
openai>=1.0.0
fastapi
tomli
pydantic>=2.5
appdirs
tomli_w
backoff
pyyaml
uvicorn
boto3
redis
pyyaml
rq
prisma
celery
psutil
mangum
google-generativeai 
traceloop-sdk==0.5.3
langfuse==1.14.0
