@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --neutral-border: #dcddeb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .indigo-button-3d {
    /* background: linear-gradient(#7a75ff, #4f46f1);
    box-shadow:
      inset 0 -1px 1px rgba(0, 0, 0, 0.08),
      inset 0 1px 1px rgba(255, 255, 255, 0.4),
      0 0 0px 1px #4d45e8,
      0 4px 3px -1px rgba(0, 0, 0, 0.15); */
    @apply bg-indigo-500;
  }
}

.table-wrapper {
  overflow-x: scroll;
  /* max-width: 80%; */
  margin: 0px 24px;
}

.custom-border {
  border: 1px solid var(--neutral-border);
}
