@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --neutral-border: #dcddeb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table-wrapper {
  overflow-x: scroll;
  /* max-width: 80%; */
  margin: 0px 24px;
}

.custom-border {
  border: 1px solid var(--neutral-border);
}

/* Custom dropdown styles */
.ant-dropdown-menu-item {
  padding: 0 !important;
}

.ant-dropdown-menu-item > div {
  transition: all 0.2s ease;
}

/* Don't apply hover to user info section */
.ant-dropdown-menu-item[data-menu-id$="user-info"]:hover {
  background-color: transparent !important;
  cursor: default;
}

.ant-dropdown-menu-item[data-menu-id$="user-info"] > div {
  cursor: default;
}

.ant-dropdown-menu {
  padding: 4px !important;
  min-width: 280px !important;
}

.ant-dropdown-menu-item-divider {
  margin: 4px 0;
}
