############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

LITELLM_MASTER_KEY="sk-1234"

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

DATABASE_URL="your-postgres-db-url" 


############
# User Auth - SMTP server details for email-based auth for users to create keys 
############

# SMTP_HOST = "fake-mail-host"
# SMTP_USERNAME = "fake-mail-user"
# SMTP_PASSWORD="fake-mail-password"
# SMTP_SENDER_EMAIL="fake-sender-email"
