model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: claude-sonnet-4-5-20250929
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
  - model_name: gpt-4.1-mini
    litellm_params:
      model: openai/gpt-4.1-mini


guardrails:
  - guardrail_name: generic-guardrail
    litellm_params:
      guardrail: generic_guardrail_api
      mode: ["pre_call"]
      headers:
        Authorization: Bearer mock-bedrock-token-12345
      api_base: http://localhost:8080
      default_on: true