model_list:
  - model_name: claude-3-opus
    litellm_params:
      model: bedrock/anthropic.claude-3-opus-20240229-v1:0
  - model_name: fake-claude-endpoint
    litellm_params:
      model: anthropic.claude-3-sonnet-20240229-v1:0
      api_base: https://exampleopenaiendpoint-production.up.railway.app
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
  - model_name: gemini-vision
    litellm_params:
      model: vertex_ai/gemini-1.0-pro-vision-001
      api_base: https://exampleopenaiendpoint-production.up.railway.app/v1/projects/adroit-crow-413218/locations/us-central1/publishers/google/models/gemini-1.0-pro-vision-001
      vertex_project: "adroit-crow-413218"
      vertex_location: "us-central1"
  - model_name: fake-azure-endpoint
    litellm_params:
      model: openai/429
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app
  - model_name: fake-openai-endpoint
    litellm_params:
      model: gpt-3.5-turbo
      api_base: https://exampleopenaiendpoint-production.up.railway.app
  - model_name: o1-preview
    litellm_params:
      model: o1-preview
  - model_name: rerank-english-v3.0
    litellm_params:
      model: cohere/rerank-english-v3.0
      api_key: os.environ/COHERE_API_KEY
  - model_name: azure-rerank-english-v3.0
    litellm_params:
      model: azure_ai/rerank-english-v3.0
      api_base: os.environ/AZURE_AI_COHERE_API_BASE
      api_key: os.environ/AZURE_AI_COHERE_API_KEY
  - model_name: "databricks/*"
    litellm_params:
      model: "databricks/*"
      api_key: os.environ/DATABRICKS_API_KEY
      api_base: os.environ/DATABRICKS_API_BASE
  - model_name: "anthropic/*"
    litellm_params:
      model: "anthropic/*"
  - model_name: "*"
    litellm_params:
      model: "openai/*"
  - model_name: "fireworks_ai/*"
    litellm_params:
      model: "fireworks_ai/*"
      configurable_clientside_auth_params: ["api_base"]
  - model_name: "gemini-flash-experimental"
    litellm_params:
      model: "vertex_ai/gemini-flash-experimental"

