model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: azure/chatgpt-v-2
      api_key: os.environ/AZURE_API_KEY
      api_base: os.environ/AZURE_API_BASE
      temperature: 0.2
  - model_name: "*"
    litellm_params:
      model: "*"
    model_info:
      access_groups: ["default"]

litellm_settings:
  success_callback: ["langsmith"]