model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: gpt-4o
    litellm_params:
      model: openai/gpt-4o
      api_key: os.environ/OPENAI_API_KEY
  - model_name: claude-sonnet-4-5-20250929
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
  - model_name: gpt-4.1-mini
    litellm_params:
      model: openai/gpt-4.1-mini
  - model_name: openai-gpt-4o-realtime-audio
    litellm_params:
      model: openai/gpt-realtime
      api_key: os.environ/OPENAI_API_KEY
    model_info:
      mode: realtime



guardrails:
  - guardrail_name: "keyword-filter"
    litellm_params:
      guardrail: litellm_content_filter
      mode: "post_call"
      blocked_words:
        - keyword: "lincoln"
          action: "BLOCK"
          description: "Do not talk about Lincoln"