model_list: 
  - model_name: my-fake-model
    litellm_params:
      model: bedrock/anthropic.claude-3-sonnet-20240229-v1:0
      api_key: my-fake-key
      aws_bedrock_runtime_endpoint: http://127.0.0.1:8000

litellm_settings:
  success_callback: ["langfuse"]
  failure_callback: ["langfuse"]
