model_list:
- model_name: fake_openai
  litellm_params:
    model: openai/my-fake-model
    api_key: my-fake-key
    api_base: http://0.0.0.0:8080
- model_name: gpt-3.5-turbo
  litellm_params:
    model: gpt-3.5-turbo-1106
    api_key: os.environ/OPENAI_API_KEY

litellm_settings:
  cache: true
  cache_params:
    type: redis
  callbacks: ["batch_redis_requests"]
  # success_callbacks: ["langfuse"]

general_settings:
  master_key: sk-1234
  database_url: "postgresql://neondb_owner:hz8tyUlJ5ivV@ep-cool-sunset-a5ywubeh.us-east-2.aws.neon.tech/neondb?sslmode=require"