model_list:
  - model_name: gpt-3.5-turbo-testing
    litellm_params:
      model: gpt-3.5-turbo
      rpm: 3
  - model_name: o3-mini
    litellm_params:
      model: o3-mini
      rpm: 3
  - model_name: anthropic-claude
    litellm_params:
      model: claude-3-5-haiku-20241022
      mock_response: Hi!
  - model_name: groq/*
    litellm_params:
      model: groq/*
      api_key: os.environ/GROQ_API_KEY
      mock_response: Hi!
  - model_name: deepseek/*
    litellm_params:
      model: deepseek/*
      api_key: os.environ/DEEPSEEK_API_KEY
  - model_name: fake-openai-endpoint
    litellm_params:
      model: openai/fake
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app/

      

litellm_settings:
  callbacks: ["langsmith"]
  disable_no_log_param: true

general_settings:
  enable_jwt_auth: True
  litellm_jwtauth:
    object_id_jwt_field: "oid" # can be either user / team, inferred from the role mapping
    roles_jwt_field: "resource_access.litellm-test-client-id.roles"
    role_mappings:
      - role: litellm.api.consumer
        internal_role: "team"

  role_permissions: # default model + endpoint permissions for a role. 
    - role: team
      models: ["anthropic-claude"]
      endpoints: ["/v1/chat/completions"]


