model_list:
  - model_name: gpt-3.5-turbo-allow
    litellm_params:
      model: gpt-3.5-turbo
    model_info: 
      version: 2
  - model_name: gpt-3.5-turbo-disallow
    litellm_params:
      model: gpt-3.5-turbo
    model_info: 
      version: 2
  - model_name: openai/*
    litellm_params:
      model: openai/*
  - model_name: openai/gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini

litellm_settings:
  model_group_settings:
    forward_client_headers_to_llm_api: 
      - "gpt-3.5-turbo-allow"
      - "openai/*"
