model_list:
  - model_name: byok-fixed-gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy
  - model_name: "byok-wildcard/*"
    litellm_params:
      model: openai/*
  - model_name: xai-grok-3
    litellm_params:
      model: xai/grok-3
  - model_name: hosted_vllm/whisper-v3
    litellm_params:
      model: hosted_vllm/whisper-v3
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy
