model_list:
  - model_name: openai-test
    litellm_params:
      model: dotprompt/gpt-3.5-turbo
      prompt_id: test_hello_world_prompt
      api_key: os.environ/OPENAI_API_KEY

litellm_settings:
  global_prompt_directory: /Users/krrishdholakia/Documents/litellm/litellm/proxy/test_prompts