model_list:
  - model_name: model-test
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
      mock_response: "Hello, world!"
      rpm: 1
  - model_name: model-test
    litellm_params:
      model: openai/o1-mini
      api_key: os.environ/OPENAI_API_KEY
      mock_response: "Hello, world, it's o1!"
      rpm: 10

router_settings:
  routing_strategy: usage-based-routing-v2
  disable_cooldowns: True