model_list:
  - model_name: fake-claude-endpoint
    litellm_params:
      model: anthropic.claude-3-sonnet-20240229-v1:0
      api_base: https://exampleopenaiendpoint-production.up.railway.app
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
  - model_name: gemini-vision
    litellm_params:
      model: vertex_ai/gemini-1.0-pro-vision-001
      api_base: https://exampleopenaiendpoint-production.up.railway.app/v1/projects/adroit-crow-413218/locations/us-central1/publishers/google/models/gemini-1.0-pro-vision-001
      vertex_project: "adroit-crow-413218"
      vertex_location: "us-central1"
  - model_name: fake-azure-endpoint
    litellm_params:
      model: openai/429
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app
  - model_name: fake-openai-endpoint
    litellm_params:
      model: gpt-3.5-turbo
      api_base: https://exampleopenaiendpoint-production.up.railway.app
  - model_name: o1-preview
    litellm_params:
      model: o1-preview
  - model_name: rerank-english-v3.0
    litellm_params:
      model: cohere/rerank-english-v3.0
      api_key: os.environ/COHERE_API_KEY
  - model_name: azure-rerank-english-v3.0
    litellm_params:
      model: azure_ai/rerank-english-v3.0
      api_base: os.environ/AZURE_AI_COHERE_API_BASE
      api_key: os.environ/AZURE_AI_COHERE_API_KEY
  - model_name: "databricks/*"
    litellm_params:
      model: "databricks/*"
      api_key: os.environ/DATABRICKS_API_KEY
      api_base: os.environ/DATABRICKS_API_BASE
  - model_name: "anthropic/*"
    litellm_params:
      model: "anthropic/*"
  - model_name: "*"
    litellm_params:
      model: "openai/*"
  - model_name: "fireworks_ai/*"
    litellm_params:
      model: "fireworks_ai/*"
      configurable_clientside_auth_params: ["api_base"]
  - model_name: "gemini-flash-experimental"
    litellm_params:
      model: "vertex_ai/gemini-flash-experimental"

litellm_settings:
  callbacks:
    # - prometheus
    - otel
  failure_callback:
    - sentry
    - prometheus
  success_callback:
    - prometheus
    - s3
  s3_callback_params:
    s3_bucket_name: mytestbucketlitellm   # AWS Bucket Name for S3
    s3_region_name: us-west-2              # AWS Region Name for S3
    s3_aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID  # us os.environ/<variable name> to pass environment variables. This is AWS Access Key ID for S3
    s3_aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY  # AWS Secret Access Key for S3

general_settings:
  db_url: os.environ/DATABASE_URL
  # disable_prisma_schema_update: true