model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: langfuse-model
    litellm_params:
      model: langfuse/langfuse-model
      prompt_id: test-chat-prompt 
      prompt_version: 4

litellm_settings:
  public_model_groups: ["gpt-3.5-turbo"]