model_list:
  - model_name: gpt-3.5-turbo-end-user-test
    litellm_params:
      model: gpt-3.5-turbo
      region_name: "eu"
    model_info:
      id: "1"
  - model_name: gpt-3.5-turbo-end-user-test
    litellm_params:
      model: gpt-3.5-turbo
      timeout: 2
      num_retries: 0
  - model_name: anthropic-claude
    litellm_params:
      model: anthropic.claude-3-sonnet-20240229-v1:0

litellm_settings:
  callbacks: ["langsmith"]
  default_internal_user_params:
    available_teams: ["litellm_dashboard_54a81fa9-9c69-45e8-b256-0c36bf104e5f", "a29a2dc6-1347-4ebc-a428-e6b56bbba611", "test-group-12"]