model_list:
  - model_name: "*"
    litellm_params:
      model: "*"

litellm_settings:
  fallbacks: [{ "claude-3-5-sonnet-20240620": ["claude-3-5-sonnet-aihubmix"] }]
  callbacks: ["otel", "prometheus"]
  default_redis_batch_cache_expiry: 10

# litellm_settings:
#   cache: True
#   cache_params:
#     type: redis

#     # disable caching on the actual API call
#     supported_call_types: []

#     # see https://docs.litellm.ai/docs/proxy/prod#3-use-redis-porthost-password-not-redis_url
#     host: os.environ/REDIS_HOST
#     port: os.environ/REDIS_PORT
#     password: os.environ/REDIS_PASSWORD

#   # see https://docs.litellm.ai/docs/proxy/caching#turn-on-batch_redis_requests
#   # see https://docs.litellm.ai/docs/proxy/prometheus
#   callbacks: ['otel']


# # router_settings:
# #   routing_strategy: latency-based-routing
# #   routing_strategy_args:
# #     # only assign 40% of traffic to the fastest deployment to avoid overloading it
# #     lowest_latency_buffer: 0.4

# #     # consider last five minutes of calls for latency calculation
# #     ttl: 300
# #   redis_host: os.environ/REDIS_HOST
# #   redis_port: os.environ/REDIS_PORT
# #   redis_password: os.environ/REDIS_PASSWORD
  
# # # see https://docs.litellm.ai/docs/proxy/prod#1-use-this-configyaml
# # general_settings:
# #   master_key: os.environ/LITELLM_MASTER_KEY
# #   database_url: os.environ/DATABASE_URL
# #   disable_master_key_return: true
# #   # alerting: ['slack', 'email']
# #   alerting: ['email']

# #   # Batch write spend updates every 60s
# #   proxy_batch_write_at: 60

# #   # see https://docs.litellm.ai/docs/proxy/caching#advanced---user-api-key-cache-ttl
# #   # our api keys rarely change
# #   user_api_key_cache_ttl: 3600
