model_list:
  - model_name: byok-fixed-gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy
  - model_name: "byok-wildcard/*"
    litellm_params:
      model: openai/*
  - model_name: xai-grok-3
    litellm_params:
      model: xai/grok-3
  - model_name: hosted_vllm/whisper-v3
    litellm_params:
      model: hosted_vllm/whisper-v3
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy

mcp_servers:
  github_mcp:
    url: "https://api.githubcopilot.com/mcp"
    auth_type: oauth2
    authorization_url: https://github.com/login/oauth/authorize
    token_url: https://github.com/login/oauth/access_token
    client_id: os.environ/GITHUB_OAUTH_CLIENT_ID
    client_secret: os.environ/GITHUB_OAUTH_CLIENT_SECRET
    scopes: ["public_repo", "user:email"]
    # allowed_tools: ["list_tools"]
    # disallowed_tools: ["repo_delete"]

