model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: anthropic-claude
    litellm_params:
      model: anthropic/claude-3-5-sonnet-20241022
      api_key: os.environ/ANTHROPIC_API_KEY

litellm_settings:
  callbacks: ["rubrik"]

callback_settings:
  rubrik:
    callback_type: generic_api
    endpoint: https://webhook.site/efc57707-9018-478c-bdf1-2ffaabb2b315
    headers:
      Authorization: Bearer sk-1234