model_list:
  - model_name: gpt-3.5-turbo-testing
    litellm_params:
      model: gpt-3.5-turbo
  - model_name: gpt-4
    litellm_params:
      model: gpt-3.5-turbo
  - model_name: azure-gpt-35-turbo
    litellm_params:
      model: azure/chatgpt-v-2
      api_key: os.environ/AZURE_API_KEY
      api_base: os.environ/AZURE_API_BASE
      timeout: 0.000000001
  - model_name: o3-mini
    litellm_params:
      model: o3-mini
      rpm: 3
  - model_name: anthropic-claude
    litellm_params:
      model: claude-3-5-haiku-20241022
      timeout: 0.000000001
  - model_name: groq/*
    litellm_params:
      model: groq/*
      api_key: os.environ/GROQ_API_KEY
      mock_response: Hi!
  - model_name: deepseek/*
    litellm_params:
      model: deepseek/*
      api_key: os.environ/DEEPSEEK_API_KEY
  - model_name: fake-openai-endpoint
    litellm_params:
      model: openai/fake
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app/

litellm_settings:
  cache: true

general_settings:
  enable_jwt_auth: True
  forward_openai_org_id: True
  litellm_jwtauth:
    user_id_jwt_field: "sub"
    team_ids_jwt_field: "groups" 
    user_id_upsert: true # add user_id to the db if they don't exist
    enforce_team_based_model_access: true # don't allow users to access models unless the team has access

router_settings:
  redis_host: os.environ/REDIS_HOST
  redis_password: os.environ/REDIS_PASSWORD
  redis_port: os.environ/REDIS_PORT

guardrails:
  - guardrail_name: "aporia-pre-guard"
    litellm_params:
      guardrail: aporia  # supported values: "aporia", "lakera"
      mode: "during_call"
      api_key: os.environ/APORIO_API_KEY
      api_base: os.environ/APORIO_API_BASE