model_list:  
  - model_name: gpt-5-mini
    litellm_params:  
      model: gpt-5-mini
  - model_name: embedding-model
    litellm_params:
      model: openai/text-embedding-3-large

  - model_name: gpt-4o-mini-transcribe
    litellm_params:
      model: openai/gpt-4o-mini-transcribe
      api_key: os.environ/OPENAI_API_KEY

litellm_settings:
  callbacks: ["arize"]