general_settings:
  store_model_in_db: true
  database_connection_pool_limit: 20
  store_prompts_in_spend_logs: true
  maximum_spend_logs_retention_period: "14d"

model_list:
  - model_name: fake-openai-endpoint
    litellm_params:
      model: openai/my-fake-model
      api_key: my-fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app/
  - model_name: bedrock-thinking-us.anthropic.claude-3-7-sonnet-20250219-v1:0
    litellm_params:
      model: bedrock/us.anthropic.claude-3-7-sonnet-20250219-v1:0
      thinking: {"type": "enabled", "budget_tokens": 1024}
      max_tokens: 1080
      merge_reasoning_content_in_choices: true

litellm_settings:
  return_response_headers: true
  store_audit_logs: true
  callbacks: ["prometheus", "resend_email", "otel"]
  cache: true
