model_list:  
  - model_name: gpt-5-mini
    litellm_params:  
      model: bedrock/global.anthropic.claude-sonnet-4-5-20250929-v1:0
  - model_name: embedding-model
    litellm_params:
      model: openai/text-embedding-3-large

  - model_name: gpt-4o-mini-transcribe
    litellm_params:
      model: openai/gpt-4o-mini-transcribe
      api_key: os.environ/OPENAI_API_KEY

agent_list:
  - agent_name: my_custom_agent
    agent_card_params:
      protocolVersion: '1.0'
      name: 'Hello World Agent'
      description: Just a hello world agent
      url: http://localhost:9999/
      version: 1.0.0
      defaultInputModes: ['text']
      defaultOutputModes: ['text']
      capabilities:
        streaming: true
      skills:
        - id: 'hello_world'
          name: 'Returns hello world'
          description: 'just returns hello world'
          tags: ['hello world']
          examples: ['hi', 'hello world']
      supportsAuthenticatedExtendedCard: true
    litellm_params:
      make_public: true

litellm_settings:
  callbacks: ["prometheus"]
