model_list:
  - model_name: anthropic/claude-3-7-sonnet-20250219
    litellm_params:
      model: anthropic/claude-3-7-sonnet-20250219
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: gpt-4
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
      api_base: http://0.0.0.0:8090
  - model_name: deepseek-r1
    litellm_params:
      model: bedrock/deepseek_r1/arn:aws:bedrock:us-west-2:888602223428:imported-model/bnnr6463ejgf
  - model_name: deepseek-r1-api
    litellm_params:
      model: deepseek/deepseek-reasoner
