model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY

litellm_settings:
  success_callback: ["rubrik"]

callback_settings:
  rubrik:
    callback_type: generic_api
    endpoint: https://webhook-test.com/30343bc33591bc5e6dc44217ceae3e0a
    headers:
      Authorization: Bearer sk-1234