model_list:
  - model_name: azure-embedding-model
    litellm_params:
      model: azure/azure-embedding-model
      api_key: os.environ/AZURE_API_KEY
      api_base: os.environ/AZURE_API_BASE
  - model_name: openai-text-completion
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: chatbot_actions
    litellm_params:
      model: langfuse/openai-gpt-3.5-turbo
      tpm: 1000000
      prompt_id: "jokes"
  - model_name: openai-gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY


litellm_settings:
  service_callback: ["prometheus_system"]
  callbacks: ["prometheus"]
  cache: true