model_list:
  - model_name: openai-gpt-4o
    litellm_params:
      model: openai/my-fake-openai-endpoint
      api_key: sk-1234
      api_base: https://exampleopenaiendpoint-production.up.railway.app
  - model_name: openai-o1
    litellm_params:
      model: openai/random_sleep
      api_base: http://0.0.0.0:8090
      timeout: 2
      num_retries: 0

litellm_settings:
  success_callback: ["langfuse"]