model_list:
  # GPT-4 Turbo Models
  - model_name: gpt-4
    litellm_params:
      model: gpt-4
      rpm: 1
  - model_name: gpt-4
    litellm_params:
      model: azure/chatgpt-v-2
      api_key: os.environ/AZURE_API_KEY
      api_base: os.environ/AZURE_API_BASE
  - model_name: rerank-model
    litellm_params:
      model: jina_ai/jina-reranker-v2-base-multilingual
  - model_name: anthropic-vertex
    litellm_params:
      model: vertex_ai/claude-3-5-sonnet-v2
      vertex_ai_project: "adroit-crow-413218"
      vertex_ai_location: "us-east5"  
  - model_name: openai-gpt-4o-realtime-audio
    litellm_params:
      model: openai/gpt-4o-realtime-preview-2024-10-01
      api_key: os.environ/OPENAI_API_KEY
  - model_name: openai/*
    litellm_params:
      model: openai/*
      api_key: os.environ/OPENAI_API_KEY
  - model_name: openai/*
    litellm_params:
      model: openai/*
      api_key: os.environ/OPENAI_API_KEY
    model_info:
      access_groups: ["public-openai-models"] 
  - model_name: openai/gpt-4o
    litellm_params:
      model: openai/gpt-4o
      api_key: os.environ/OPENAI_API_KEY
    model_info:
      access_groups: ["private-openai-models"] 
      
router_settings:
  routing_strategy: usage-based-routing-v2
  #redis_url: "os.environ/REDIS_URL"
  redis_host: "os.environ/REDIS_HOST"
  redis_port: "os.environ/REDIS_PORT"

litellm_settings:
  success_callback: ["langsmith"]