model_list:
  - model_name: whisper
    litellm_params:
      model: azure/azure-whisper
      api_version: 2024-02-15-preview
      api_base: os.environ/AZURE_EUROPE_API_BASE
      api_key: os.environ/AZURE_EUROPE_API_KEY
    model_info:
      mode: audio_transcription