model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: claude-sonnet-4-5-20250929
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
  - model_name: gpt-4.1-mini
    litellm_params:
      model: openai/gpt-4.1-mini


# guardrails:
#   - guardrail_name: generic-guardrail
#     litellm_params:
#       guardrail: generic_guardrail_api
#       mode: ["pre_call"]
#       headers:
#         Authorization: Bearer mock-bedrock-token-12345
#       api_base: http://localhost:8080
#       default_on: true

guardrails:
  - guardrail_name: "harmful-content-filter"
    litellm_params:
      guardrail: litellm_content_filter
      mode: "pre_call"
      default_on: true
      # Model configuration
      guardrail_model:
        - model: "gpt-4o"  # From model_list
          supported_multimodal_content: # Supported content types = images, documents, audio, video, text
            - images
            - documents
      
      categories:
        - category: "harmful_self_harm"
          enabled: true
          action: "BLOCK"
          severity_threshold: "medium"  # Block medium+
          
        - category: "harmful_violence"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit
          
        - category: "harmful_illegal_weapons"
          enabled: true
          action: "BLOCK"
          severity_threshold: "low"  # Strictest
        
        - category: "bias_gender"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit to reduce false positives
        
        - category: "bias_sexual_orientation"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit to reduce false positives

        - category: "denied_medical_advice"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit to reduce false positives
        
        - category: "denied_legal_advice"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit to reduce false positives
        
        - category: "denied_financial_advice"
          enabled: true
          action: "BLOCK"
          severity_threshold: "high"  # Only explicit to reduce false positives


prompts:
  - prompt_id: "simple_prompt"
    litellm_params:
      prompt_integration: "generic_prompt_management"
      provider_specific_query_params:
        project_name: litellm
        slug: hello-world-prompt-2bac
      api_base: http://localhost:8080
      api_key: os.environ/BRAINTRUST_API_KEY
      ignore_prompt_manager_model: true
      ignore_prompt_manager_optional_params: true
