model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      api_key: os.environ/OPENAI_API_KEY
  - model_name: claude-sonnet-4-5-20250929
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
  - model_name: gpt-4.1-mini
    litellm_params:
      model: openai/gpt-4.1-mini


# guardrails:
#   - guardrail_name: generic-guardrail
#     litellm_params:
#       guardrail: generic_guardrail_api
#       mode: ["pre_call"]
#       headers:
#         Authorization: Bearer mock-bedrock-token-12345
#       api_base: http://localhost:8080
#       default_on: true

prompts:
  - prompt_id: "simple_prompt"
    litellm_params:
      guardrail: generic_guardrail_api
      mode: ["post_call"]
      headers:
        Authorization: Bearer mock-bedrock-token-12345
      api_base: http://localhost:8080
      api_key: os.environ/BRAINTRUST_API_KEY
      ignore_prompt_manager_model: true
      ignore_prompt_manager_optional_params: true
