model_list:
  - model_name: openai/gpt-4o
    litellm_params:
      model: openai/gpt-4o-mini
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy
  - model_name: "byok-wildcard/*"
    litellm_params:
      model: openai/*
  - model_name: xai-grok-3
    litellm_params:
      model: xai/grok-3
  - model_name: hosted_vllm/whisper-v3
    litellm_params:
      model: hosted_vllm/whisper-v3
      api_base: "https://webhook.site/2f385e05-00aa-402b-86d1-efc9261471a5"
      api_key: dummy

mcp_servers:
  my_api_mcp:
    url: "http://0.0.0.0:8000"
    spec_path: "/Users/krrishdholakia/Documents/temp_py_folder/openapi.json"
    auth_type: none
    allowed_tools: ["get_users", "create_user"]
    access_groups: ["dev_group", "api_team"]


litellm_settings:
  callbacks: ["prometheus"]
  custom_prometheus_metadata_labels: ["metadata.initiative", "metadata.business-unit"]  