model_list:
- litellm_params:
    api_base: https://openai-function-calling-workers.tasslexyz.workers.dev/
    api_key: my-fake-key
    model: openai/my-fake-model
  model_name: fake-openai-endpoint
- litellm_params:
    api_base: https://openai-function-calling-workers.tasslexyz.workers.dev/
    api_key: my-fake-key-2
    model: openai/my-fake-model-2
  model_name: fake-openai-endpoint
- litellm_params:
    api_base: https://openai-function-calling-workers.tasslexyz.workers.dev/
    api_key: my-fake-key-3
    model: openai/my-fake-model-3
  model_name: fake-openai-endpoint
- model_name: gpt-4
  litellm_params:
    model: gpt-3.5-turbo
- litellm_params:
    model: together_ai/codellama/CodeLlama-13b-Instruct-hf
  model_name: CodeLlama-13b-Instruct
router_settings:
  num_retries: 0
  enable_pre_call_checks: true
  redis_host: os.environ/REDIS_HOST
  redis_password: os.environ/REDIS_PASSWORD
  redis_port: os.environ/REDIS_PORT

router_settings:
  routing_strategy: "latency-based-routing"

litellm_settings:
  success_callback: ["langfuse"]

general_settings:
  alerting: ["slack"]
  alert_types: ["llm_exceptions", "daily_reports"]
  alerting_args:
    daily_report_frequency: 60 # every minute
    report_check_interval: 5 # every 5s 