model_list:
- litellm_params:
    api_base: http://0.0.0.0:8080
    api_key: ''
    model: openai/my-fake-model
    rpm: 800
  model_name: gpt-3.5-turbo-fake-model
# - litellm_params:
#     api_base: https://my-endpoint-europe-berri-992.openai.azure.com/
#     api_key: os.environ/AZURE_EUROPE_API_KEY
#     model: azure/gpt-35-turbo
#     rpm: 10
#   model_name: gpt-3.5-turbo-fake-model
- litellm_params:
    api_base: https://openai-gpt-4-test-v-1.openai.azure.com/
    api_key: os.environ/AZURE_API_KEY
    api_version: '2023-05-15'
    model: azure/chatgpt-v-2
  model_name: gpt-3.5-turbo
- litellm_params:
    model: anthropic.claude-3-sonnet-20240229-v1:0
  model_name: bedrock-anthropic-claude-3
- litellm_params:
    api_base: https://openai-gpt-4-test-v-1.openai.azure.com/
    api_key: os.environ/AZURE_API_KEY
    api_version: '2023-05-15'
    model: azure/chatgpt-v-2
  model_name: gpt-3.5-turbo
- model_name: tts
  litellm_params:
    model: openai/tts-1
router_settings:
  enable_pre_call_checks: true

litellm_settings:
  drop_params: true
  success_callback: ["langfuse"]