general_settings:
  alert_to_webhook_url:
    budget_alerts: https://hooks.slack.com/services/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
    daily_reports: https://hooks.slack.com/services/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
    db_exceptions: https://hooks.slack.com/services/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
    llm_exceptions: https://hooks.slack.com/services/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
    llm_requests_hanging: https://hooks.slack.com/services/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
    llm_too_slow: https://hooks.slack.com/services/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
    outage_alerts: https://hooks.slack.com/services/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
  alert_types:
  - llm_exceptions
  - llm_too_slow
  - llm_requests_hanging
  - budget_alerts
  - db_exceptions
  - daily_reports
  - spend_reports
  - cooldown_deployment
  - new_model_added
  - outage_alerts
  alerting:
  - slack
  database_connection_pool_limit: 100
  database_connection_timeout: 60
  health_check_interval: 300
  ui_access_mode: all
# litellm_settings:
#   json_logs: true
model_list:
- litellm_params:
    api_base: http://0.0.0.0:8080
    api_key: ''
    model: openai/my-fake-model
  model_name: gpt-3.5-turbo-fake-model
- litellm_params:
    api_base: https://my-endpoint-europe-berri-992.openai.azure.com/
    api_key: os.environ/AZURE_EUROPE_API_KEY
    model: azure/gpt-35-turbo
  model_name: gpt-3.5-turbo
- litellm_params:
    api_base: https://openai-gpt-4-test-v-1.openai.azure.com/
    api_key: os.environ/AZURE_API_KEY
    api_version: '2023-05-15'
    model: azure/chatgpt-v-2
  model_name: gpt-3.5-turbo
- litellm_params:
    model: anthropic.claude-3-sonnet-20240229-v1:0
  model_name: bedrock-anthropic-claude-3
- litellm_params:
    api_base: https://openai-gpt-4-test-v-1.openai.azure.com/
    api_key: os.environ/AZURE_API_KEY
    api_version: '2023-05-15'
    model: azure/chatgpt-v-2
  model_name: gpt-3.5-turbo
router_settings:
  enable_pre_call_checks: true
