model_list:

  - model_name: google/gemini-2.5-flash-lite
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
      api_key: os.environ/GOOGLE_API_KEY

  - model_name: google/gemini-3-flash-preview
    litellm_params:
      model: gemini/gemini-3-flash-preview
      api_key: os.environ/GOOGLE_API_KEY

  - model_name: google/gemini-3-pro-preview
    litellm_params:
      model: gemini/gemini-3-pro-preview
      api_key: os.environ/GOOGLE_API_KEY


  - model_name: auto
    litellm_params:
      model: "auto_router/auto_router_1"
      auto_router_config_path: "/home/zazer/persistz/cw/clawrouter/litellm/router_strategy/auto_router/routing_rules.yaml"
      auto_router_default_model: "gemini/gemini-3-flash-preview"

# General Settings
general_settings:
  forward_client_headers_to_llm_api: true
  store_model_in_db: false

# LiteLLM Settings
router_settings:
  model_group_alias: {}

litellm_settings:
  master_key: sk-1234
  drop_params: true
