model_list: []

# General Settings
general_settings:
  forward_client_headers_to_llm_api: true
  store_model_in_db: false

# LiteLLM Settings
router_settings:
  model_group_alias: {}

litellm_settings:
  master_key: sk-1234
  drop_params: true
