model_list:
  - model_name: fake-openai-endpoint
    litellm_params:
      model: openai/fake
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app/
  - model_name: llama3
    litellm_params:
      model: groq/llama3-8b-8192
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: gpt-3.5-turbo
  - model_name: "*"
    litellm_params:
      model: openai/*
      api_key: os.environ/OPENAI_API_KEY
  - model_name: mistral-embed
    litellm_params:
      model: mistral/mistral-embed

general_settings:
  master_key: sk-1234
  pass_through_endpoints:
    - path: "/v1/rerank"
      target: "https://api.cohere.com/v1/rerank"
      headers:
        Authorization: "bearer os.environ/COHERE_API_KEY"
        content-type: application/json
        accept: application/json
    - path: "/api/public/ingestion"
      target: "https://us.cloud.langfuse.com/api/public/ingestion"
      headers:
        LANGFUSE_PUBLIC_KEY: "os.environ/LANGFUSE_DEV_PUBLIC_KEY"
        LANGFUSE_SECRET_KEY: "os.environ/LANGFUSE_DEV_SK_KEY"

litellm_settings:
  success_callback: ["prometheus"]
  callbacks: ["otel", "hide_secrets"]
  failure_callback: ["prometheus"]
  store_audit_logs: true
  redact_messages_in_exceptions: True
  enforced_params:  
    - user
    - metadata
    - metadata.generation_name


