model_list:
  - model_name: gpt-4o
    litellm_params:
      model: gpt-4o
      api_key: os.environ/OPENAI_API_KEY
      tpm: 1000000
      rpm: 10000


general_settings:
  # master key is set via env var
  # master_key: #######
  proxy_batch_write_at: 60 # Batch write spend updates every 60s

litellm_settings:
  store_audit_logs: true

  # https://docs.litellm.ai/docs/proxy/reliability#default-fallbacks
  default_fallbacks: ["gpt-4o-2024-08-06", "claude-3-5-sonnet-20240620"]
  fallbacks: [{"gpt-4o-2024-08-06": ["claude-3-5-sonnet-20240620"]}, {"gpt-4o-2024-05-13": ["claude-3-5-sonnet-20240620"]}]