model_list:
  - model_name: gemini/*
    litellm_params:
      model: gemini/*

litellm_settings:
  callbacks: ["dynamic_rate_limiter_v3"]
  priority_reservation:
    "prod": 0.9 # 90% reserved for production
    "dev": 0.1 # 10% reserved for development
