model_list:
  - model_name: openai/*
    litellm_params:
      model:  openai/*
      api_key: os.environ/OPENAI_API_KEY
  - model_name: bedrock/*
    litellm_params:
      model:  bedrock/*
      api_base: https://exampleopenaiendpoint-production.up.railway.app/
  - model_name: text-embedding-ada-002
    litellm_params:
      model: openai/text-embedding-ada-002
      api_key: os.environ/OPENAI_API_KEY
  - model_name: fake-openai-endpoint
    litellm_params:
      model: openai/fake
      api_key: fake-key
      api_base: https://exampleopenaiendpoint-production.up.railway.app/




litellm_settings:
  callbacks: ["langfuse"]


litellm_settings:
  callbacks: ["prometheus"]
  prometheus_initialize_budget_metrics: true
guardrails:
  - guardrail_name: "bedrock-pre-guard"
    litellm_params:
      guardrail: bedrock  # supported values: "aporia", "bedrock", "lakera"
      mode: "during_call"
      guardrailIdentifier: gf3sc1mzinjw
      guardrailVersion: "DRAFT"
