model_list:
  - model_name: db-openai-endpoint
    litellm_params:
      model: openai/*
      api_base: https://exampleopenaiendpoint-production-0ee2.up.railway.app/
  - model_name: bedrock/*
    litellm_params:
      model: bedrock/*
  - model_name: openai/*
    litellm_params:
      model: openai/*
  - model_name: dashscope/*
    litellm_params:
      model: dashscope/*


litellm_settings:
  callbacks: ["cloudzero"]