{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini Interactions API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/upload/{api_version}/environments/{environment}/files/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "environment",
          "in": "path",
          "description": "The ID of the environment that owns the destination file.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "description": "The relative destination path inside the environment workspace.",
          "required": true,
          "schema": {
            "type": "string"
          },
          "x-speakeasy-param-encoding-override": "allowReserved"
        }
      ],
      "put": {
        "operationId": "StartEnvironmentFileUpload",
        "description": "Starts a resumable upload session for a file in an environment workspace.\nUpload the file bytes to the URL returned in the `X-Goog-Upload-URL`\nresponse header, using the resumable upload protocol.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvironmentFileExtract"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileOverwrite"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadCommand"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadContentLength"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadContentType"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadProtocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload session created successfully. Send the file bytes to the returned upload URL.",
            "headers": {
              "X-Goog-Upload-URL": {
                "$ref": "#/components/headers/EnvironmentFileUploadUrl"
              }
            }
          },
          "4XX": {
            "description": "The upload session request failed with a client error."
          },
          "5XX": {
            "description": "The upload session request failed with a server error."
          }
        },
        "summary": "Start an environment file upload",
        "x-speakeasy-group": "environments._internal",
        "x-speakeasy-name-override": "startUpload",
        "x-codeSamples": [
          {
            "label": "start_upload",
            "lang": "sh",
            "source": "curl -i -X PUT \\\n  'https://generativelanguage.googleapis.com/upload/v1beta/environments/env_abc123/files/main.py?overwrite=true' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H 'X-Goog-Upload-Protocol: resumable' \\\n  -H 'X-Goog-Upload-Command: start' \\\n  -H \"X-Goog-Upload-Header-Content-Length: $(wc -c < main.py)\" \\\n  -H 'X-Goog-Upload-Header-Content-Type: text/x-python'\n"
          }
        ]
      }
    },
    "/{api_version}/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListAgents",
        "description": "Lists all Agents.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Required. The parent resource to list agents from.\nFormat: `projects/{project}/locations/{location}`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentListParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "label": "list",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "list",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.agents.list()\nfor agent in response.agents or []:\n  print(agent.id)\n"
          },
          {
            "label": "list",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agents = await ai.agents.list();\nfor (const agent of agents.agents ?? []) {\n  console.log(agent.id);\n}\n"
          },
          {
            "label": "list",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.AgentListResponse;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.ListAgentsResponse;\n\nClient client = new Client();\nListAgentsResponse response = client.agents.list().call();\nList<Agent> agents =\n    response.agentListResponse().flatMap(AgentListResponse::agents).orElse(List.of());\nfor (Agent agent : agents) {\n  agent.id().ifPresent(System.out::println);\n}\n"
          }
        ]
      },
      "post": {
        "operationId": "CreateAgent",
        "description": "Creates a new Agent (Typed version for SDK).",
        "parameters": [],
        "requestBody": {
          "description": "Required. The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentCreateParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "label": "create",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"id\": \"research-assistant-abc123\",\n    \"base_agent\": \"antigravity-preview-05-2026\",\n    \"description\": \"A helpful research assistant.\",\n    \"system_instruction\": \"You are a helpful research assistant.\",\n    \"base_environment\": \"remote\",\n    \"tools\": [{\"type\": \"google_search\"}]\n  }'\n"
          },
          {
            "label": "with_sources",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"id\": \"data-analyst-abc123\",\n    \"base_agent\": \"antigravity-preview-05-2026\",\n    \"system_instruction\": \"You are a data analyst. Always include visualizations and export results as PDF.\",\n    \"base_environment\": {\n      \"type\": \"remote\",\n      \"sources\": [\n        {\n          \"type\": \"inline\",\n          \"target\": \".agents/AGENTS.md\",\n          \"content\": \"Always use matplotlib for charts. Include a summary table in every report.\"\n        },\n        {\n          \"type\": \"repository\",\n          \"source\": \"https://github.com/my-org/analysis-templates\",\n          \"target\": \"/workspace/templates\"\n        }\n      ]\n    }\n  }'\n"
          },
          {
            "label": "fork_from_env",
            "lang": "sh",
            "source": "# Step 1: Set up the environment interactively\nRESPONSE=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Write a basic Hello World template to /workspace/template.py.\",\n    \"environment\": \"remote\"\n  }')\nENV_ID=$(echo \"$RESPONSE\" | python3 -c \"import sys,json; print(json.load(sys.stdin)['environment_id'])\")\n\n# Step 2: Fork that environment into a named agent\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"{\n    \\\"id\\\": \\\"my-data-analyst\\\",\n    \\\"base_agent\\\": \\\"antigravity-preview-05-2026\\\",\n    \\\"system_instruction\\\": \\\"You are a data analyst. Use the template at /workspace/template.py for all reports.\\\",\n    \\\"base_environment\\\": \\\"$ENV_ID\\\"\n  }\"\n"
          },
          {
            "label": "create",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\nagent = client.agents.create(\n    id=f\"research-assistant-{uuid.uuid4().hex[:8]}\",\n    base_agent=\"antigravity-preview-05-2026\",\n    description=\"A helpful research assistant.\",\n    system_instruction=\"You are a helpful research assistant.\",\n    base_environment=\"remote\",\n    tools=[{\"type\": \"google_search\"}],\n)\nprint(agent.id)\n"
          },
          {
            "label": "with_sources",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\nagent = client.agents.create(\n    id=f\"data-analyst-{uuid.uuid4().hex[:8]}\",\n    base_agent=\"antigravity-preview-05-2026\",\n    system_instruction=(\n        \"You are a data analyst. Always include visualizations and export\"\n        \" results as PDF.\"\n    ),\n    base_environment={\n        \"type\": \"remote\",\n        \"sources\": [\n            {\n                \"type\": \"inline\",\n                \"target\": \".agents/AGENTS.md\",\n                \"content\": (\n                    \"Always use matplotlib for charts. Include a summary\"\n                    \" table in every report.\"\n                ),\n            },\n            {\n                \"type\": \"repository\",\n                \"source\": \"https://github.com/my-org/analysis-templates\",\n                \"target\": \"/workspace/templates\",\n            },\n        ],\n    },\n)\nprint(f\"Created agent: {agent.id}\")\n"
          },
          {
            "label": "fork_from_env",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# Step 1: Set up the environment interactively.\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Write a basic Hello World template to /workspace/template.py.\",\n    environment=\"remote\",\n)\n\n# Step 2: Fork that environment into a named agent.\nagent_id = f\"my-data-analyst-{uuid.uuid4().hex[:8]}\"\nagent = client.agents.create(\n    id=agent_id,\n    base_agent=\"antigravity-preview-05-2026\",\n    system_instruction=(\n        \"You are a data analyst. Use the template at /workspace/template.py\"\n        \" for all reports.\"\n    ),\n    base_environment=interaction.environment_id,\n)\nprint(f\"Forked agent: {agent.id}\")\n"
          },
          {
            "label": "create",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agentId = `research-assistant-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n  id: agentId,\n  base_agent: 'antigravity-preview-05-2026',\n  description: 'A helpful research assistant.',\n  system_instruction: 'You are a helpful research assistant.',\n  base_environment: 'remote',\n  tools: [{type: 'google_search'}],\n});\nif (!agent.id) {\n  throw new Error('Agent creation failed: ID is undefined');\n}\nconsole.log(agent.id);\n"
          },
          {
            "label": "with_sources",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agentId = `data-analyst-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n  id: agentId,\n  base_agent: 'antigravity-preview-05-2026',\n  system_instruction:\n    'You are a data analyst. Always include visualizations and export results as PDF.',\n  base_environment: {\n    type: 'remote',\n    sources: [\n      {\n        type: 'inline',\n        target: '.agents/AGENTS.md',\n        content:\n          'Always use matplotlib for charts. Include a summary table in every report.',\n      },\n      {\n        type: 'repository',\n        source: 'https://github.com/my-org/analysis-templates',\n        target: '/workspace/templates',\n      },\n    ],\n  },\n});\nconsole.log(`Created agent: ${agent.id}`);\n"
          },
          {
            "label": "fork_from_env",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Step 1: Set up the environment interactively.\nconst interaction = await ai.interactions.create({\n  agent: 'antigravity-preview-05-2026',\n  input: 'Write a basic Hello World template to /workspace/template.py.',\n  environment: 'remote',\n});\n\n// Step 2: Fork that environment into a named agent.\nconst agentId = `my-data-analyst-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n  id: agentId,\n  base_agent: 'antigravity-preview-05-2026',\n  system_instruction:\n    'You are a data analyst. Use the template at /workspace/template.py for all reports.',\n  base_environment: interaction.environment_id,\n});\nconsole.log(`Forked agent: ${agent.id}`);\n"
          },
          {
            "label": "create",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport com.google.genai.gaos.models.interactions.GoogleSearch;\n\nClient client = new Client();\nString agentId = \"research-assistant-\" + UUID.randomUUID().toString().substring(0, 8);\nAgent agent =\n    Agent.builder()\n        .id(agentId)\n        .baseAgent(\"antigravity-preview-05-2026\")\n        .description(\"A helpful research assistant.\")\n        .systemInstruction(\"You are a helpful research assistant.\")\n        .baseEnvironment(BaseEnvironment.of(\"remote\"))\n        .tools(List.of(new GoogleSearch()))\n        .build();\nCreateAgentResponse response = client.agents.create(agent);\nSystem.out.println(response.agent().flatMap(Agent::id).orElse(\"\"));\n"
          },
          {
            "label": "with_sources",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\n\nClient client = new Client();\nString agentId = \"data-analyst-\" + UUID.randomUUID().toString().substring(0, 8);\ncom.google.genai.gaos.models.interactions.Environment env =\n    com.google.genai.gaos.models.interactions.Environment.builder()\n        .sources(\n            List.of(\n                Source.builder()\n                    .type(SourceType.INLINE)\n                    .target(\".agents/AGENTS.md\")\n                    .content(\n                        \"Always use matplotlib for charts. Include a summary table in every\"\n                            + \" report.\")\n                    .build(),\n                Source.builder()\n                    .type(SourceType.REPOSITORY)\n                    .source(\"https://github.com/my-org/analysis-templates\")\n                    .target(\"/workspace/templates\")\n                    .build()))\n        .build();\nAgent agent =\n    Agent.builder()\n        .id(agentId)\n        .baseAgent(\"antigravity-preview-05-2026\")\n        .systemInstruction(\n            \"You are a data analyst. Always include visualizations and export results as PDF.\")\n        .baseEnvironment(BaseEnvironment.of(env))\n        .build();\nCreateAgentResponse response = client.agents.create(agent);\nSystem.out.println(\"Created agent: \" + response.agent().flatMap(Agent::id).orElse(\"\"));\n"
          },
          {
            "label": "fork_from_env",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Step;\n\nClient client = new Client();\n\n// Step 1: Set up the environment interactively.\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(\n            InteractionsInput.of(\n                \"Write a basic Hello World template to /workspace/template.py.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse interactionResponse =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    interactionResponse\n        .interaction()\n        .orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\n\n// Step 2: Fork that environment into a named agent.\nString agentId = \"my-data-analyst-\" + UUID.randomUUID().toString().substring(0, 8);\nAgent agent =\n    Agent.builder()\n        .id(agentId)\n        .baseAgent(\"antigravity-preview-05-2026\")\n        .systemInstruction(\n            \"You are a data analyst. Use the template at /workspace/template.py for all\"\n                + \" reports.\")\n        .baseEnvironment(BaseEnvironment.of(interaction.environmentId().orElse(\"\")))\n        .build();\nCreateAgentResponse agentResponse = client.agents.create(agent);\nSystem.out.println(\"Forked agent: \" + agentResponse.agent().flatMap(Agent::id).orElse(\"\"));\n"
          }
        ]
      }
    },
    "/{api_version}/agents/{agentsId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "delete": {
        "operationId": "DeleteAgent",
        "description": "Deletes an Agent.",
        "parameters": [
          {
            "name": "agentsId",
            "in": "path",
            "description": "Required. The name of the agent to delete.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-speakeasy-name-override": "id"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "delete": {
                    "summary": "Delete Agent",
                    "value": {}
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentDeleteParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "delete",
        "x-codeSamples": [
          {
            "label": "delete",
            "lang": "sh",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "delete",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n\nclient.agents.delete(agent_id)\nprint(\"Agent deleted successfully.\")\n"
          },
          {
            "label": "delete",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nawait ai.agents.delete(agentId);\nconsole.log('Agent deleted successfully.');\n"
          },
          {
            "label": "delete",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.Client;\n\nClient client = new Client();\n\n\nclient.agents.delete(agentId);\nSystem.out.println(\"Agent deleted successfully.\");\n"
          }
        ]
      },
      "get": {
        "operationId": "GetAgent",
        "description": "Gets a specific Agent.",
        "parameters": [
          {
            "name": "agentsId",
            "in": "path",
            "description": "Required. The name of the agent to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-speakeasy-name-override": "id"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "get": {
                    "summary": "Get Agent",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "display_name": "My Research Agent",
                      "id": "ag_abc123",
                      "object": "agent",
                      "system_instruction": "You are a helpful research assistant.",
                      "tools": [
                        {
                          "type": "google_search"
                        }
                      ],
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentGetParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "label": "get",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n\nagent = client.agents.get(agent_id)\nprint(agent.id)\n"
          },
          {
            "label": "get",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nconst agent = await ai.agents.get(agentId);\nif (!agent.id) {\n  throw new Error('Agent retrieval failed: ID is undefined');\n}\nconsole.log(agent.id);\n"
          },
          {
            "label": "get",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.GetAgentResponse;\n\nClient client = new Client();\n\n\nGetAgentResponse response = client.agents.get(agentId);\nAgent agent = response.agent().orElseThrow(() -> new RuntimeException(\"No agent returned\"));\nSystem.out.println(agent.id().orElse(\"\"));\n"
          }
        ]
      }
    },
    "/{api_version}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListCredentials",
        "description": "Lists credentials.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of credentials to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentialsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "credentials"
        ],
        "x-speakeasy-exports": [
          {
            "name": "CredentialListParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "operationId": "CreateCredential",
        "description": "Creates a new credential.",
        "parameters": [],
        "requestBody": {
          "description": "Required. The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialCreateParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "tags": [
          "credentials"
        ],
        "x-speakeasy-exports": [
          {
            "name": "CredentialCreateParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "create"
      }
    },
    "/{api_version}/credentials/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "delete": {
        "operationId": "DeleteCredential",
        "description": "Deletes a credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Resource ID segment making up resource `name`. It identifies the resource\nwithin its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "tags": [
          "credentials"
        ],
        "x-speakeasy-exports": [
          {
            "name": "CredentialDeleteParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "delete"
      },
      "get": {
        "operationId": "GetCredential",
        "description": "Gets a credential by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Resource ID segment making up resource `name`. It identifies the resource\nwithin its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "tags": [
          "credentials"
        ],
        "x-speakeasy-exports": [
          {
            "name": "CredentialGetParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "get"
      },
      "patch": {
        "operationId": "UpdateCredential",
        "description": "Updates a credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Resource ID segment making up resource `name`. It identifies the resource\nwithin its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialUpdateParams"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "tags": [
          "credentials"
        ],
        "x-speakeasy-exports": [
          {
            "name": "CredentialUpdate",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "update"
      }
    },
    "/{api_version}/environments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListEnvironments",
        "description": "Lists environments.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of environments to return.\nIf unspecified, defaults to 50. Maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "environments"
        ],
        "x-codeSamples": [
          {
            "label": "list",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/environments \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "list",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.environments.list()\nfor environment in response.environments or []:\n  print(environment.id)\n"
          },
          {
            "label": "list",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst response = await ai.environments.list();\nfor (const env of response.environments ?? []) {\n  console.log(env.id);\n}\n"
          },
          {
            "label": "list",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.operations.ListEnvironmentsResponse;\n\nClient client = new Client();\nListEnvironmentsResponse response = client.environments.listEnvironmentsDirect();\nfor (com.google.genai.gaos.models.environments.Environment env :\n    response.listEnvironmentsResponse().flatMap(res -> res.environments()).orElse(List.of())) {\n  System.out.println(env.id().orElse(\"\"));\n}\n"
          }
        ]
      },
      "post": {
        "operationId": "CreateEnvironment",
        "description": "Creates an environment.",
        "parameters": [],
        "requestBody": {
          "description": "Required. The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "tags": [
          "environments"
        ],
        "x-codeSamples": [
          {
            "label": "create",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/environments \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"sources\": [{\n      \"type\": \"inline\",\n      \"target\": \"main.py\",\n      \"content\": \"print(\\\"Hello, World!\\\")\"\n    }]\n  }'\n"
          },
          {
            "label": "copy",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/environments \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"from_environment\": \"environments/env_abc123\"\n  }'\n"
          },
          {
            "label": "create",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nenvironment = client.environments.create(\n    sources=[{\n        \"type\": \"inline\",\n        \"target\": \"main.py\",\n        \"content\": \"print('Hello, World!')\",\n    }]\n)\nprint(environment.id)\n"
          },
          {
            "label": "copy",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\nenvironment = client.environments.create(\n    from_environment=source_env.id,\n)\nprint(environment.id)\n"
          },
          {
            "label": "create",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst environment = await ai.environments.create({\n  sources: [\n    {\n      type: 'inline',\n      target: 'main.py',\n      content: \"print('Hello, World!')\",\n    },\n  ],\n});\nif (!environment.id) {\n  throw new Error('Environment creation failed: ID is undefined');\n}\nconsole.log(environment.id);\n"
          },
          {
            "label": "copy",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nconst environment = await ai.environments.create({\n  from_environment: sourceEnv.id,\n});\nif (!environment.id) {\n  throw new Error('Environment creation failed: ID is undefined');\n}\nconsole.log(environment.id);\n"
          },
          {
            "label": "create",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\n\nClient client = new Client();\nCreateEnvironmentRequest request =\n    CreateEnvironmentRequest.builder()\n        .sources(\n            List.of(\n                Source.builder()\n                    .type(SourceType.INLINE)\n                    .target(\"main.py\")\n                    .content(\"print('Hello, World!')\")\n                    .build()))\n        .build();\ncom.google.genai.gaos.models.environments.Environment environment =\n    client.environments.createEnvironment(request).environment().orElseThrow();\nSystem.out.println(environment.id().orElse(\"\"));\n"
          },
          {
            "label": "copy",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\n\nClient client = new Client();\n\n\nCreateEnvironmentRequest request =\n    CreateEnvironmentRequest.builder().fromEnvironment(sourceEnvId).build();\ncom.google.genai.gaos.models.environments.Environment environment =\n    client.environments.createEnvironment(request).environment().orElseThrow();\nSystem.out.println(environment.id().orElse(\"\"));\n"
          }
        ]
      }
    },
    "/{api_version}/environments/{environment}/files/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "x-speakeasy-param-encoding-override": "allowReserved"
        }
      ],
      "get": {
        "operationId": "GetEnvironmentFiles",
        "description": "Retrieves file metadata or directory contents from an environment's snapshot. To download file content, use the download URL returned in the response.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of entries to return per page (for directory listing).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token for directory listing.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "Optional. If true and the path is a directory, recursively lists all files.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnvironmentFilesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "environments.files"
        ],
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "label": "list_files",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/src' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get_file",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/main.py' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "download_file",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/src/main.py?alt=media' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  --output main.py\n"
          },
          {
            "label": "list_files",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\nresponse = client.environments.files.list(\n    environment=created.id,\n    path=\"src\",\n)\nfor file in response.files or []:\n  print(file.name, file.type, file.size_bytes)\n"
          },
          {
            "label": "get_file",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\nresponse = client.environments.files.get(\n    environment=created.id,\n    path=\"main.py\",\n)\nfor file in response.files or []:\n  print(file.name, file.size_bytes)\n"
          },
          {
            "label": "download_file",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\ncontent = client.environments.files.download(\n    environment=created.id,\n    path=\"src/main.py\",\n)\nprint(content.decode(\"utf-8\"))\n"
          },
          {
            "label": "list_files",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nconst response = await ai.environments.files.list({\n  environment: created.id,\n  path: 'src',\n});\nfor (const file of response.files ?? []) {\n  console.log(file.name, file.type, file.size_bytes);\n}\n"
          },
          {
            "label": "get_file",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nconst response = await ai.environments.files.list({\n  environment: created.id,\n  path: 'main.py',\n});\nfor (const file of response.files ?? []) {\n  console.log(file.name, file.size_bytes);\n}\n"
          },
          {
            "label": "list_files",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.EnvironmentFile;\nimport com.google.genai.gaos.models.operations.GetEnvironmentFilesRequest;\nimport com.google.genai.gaos.models.environments.GetEnvironmentFilesResponse;\n\nClient client = new Client();\n\n\ncom.google.genai.gaos.models.operations.GetEnvironmentFilesResponse response =\n    client\n        .environments\n        .files()\n        .list(GetEnvironmentFilesRequest.builder().environment(envId).path(\"src\").build());\nGetEnvironmentFilesResponse filesResponse =\n    response.getEnvironmentFilesResponse().orElseThrow();\nfor (EnvironmentFile file : filesResponse.files().orElse(List.of())) {\n  System.out.println(\n      file.name().orElse(\"\")\n          + \" \"\n          + file.type().map(Object::toString).orElse(\"\")\n          + \" \"\n          + file.sizeBytes().orElse(\"\"));\n}\n"
          },
          {
            "label": "get_file",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.EnvironmentFile;\nimport com.google.genai.gaos.models.operations.GetEnvironmentFilesRequest;\nimport com.google.genai.gaos.models.environments.GetEnvironmentFilesResponse;\n\nClient client = new Client();\n\n\ncom.google.genai.gaos.models.operations.GetEnvironmentFilesResponse response =\n    client\n        .environments\n        .files()\n        .list(GetEnvironmentFilesRequest.builder().environment(envId).path(\"main.py\").build());\nGetEnvironmentFilesResponse filesResponse =\n    response.getEnvironmentFilesResponse().orElseThrow();\nfor (EnvironmentFile file : filesResponse.files().orElse(List.of())) {\n  System.out.println(file.name().orElse(\"\") + \" \" + file.sizeBytes().orElse(\"\"));\n}\n"
          }
        ]
      }
    },
    "/{api_version}/environments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "delete": {
        "operationId": "DeleteEnvironment",
        "description": "Deletes an environment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Resource ID segment making up resource `name`. It identifies the resource\nwithin its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "tags": [
          "environments"
        ],
        "x-codeSamples": [
          {
            "label": "delete",
            "lang": "sh",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/environments/env_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "delete",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\nclient.environments.delete(id=created.id)\nprint(\"Environment deleted successfully.\")\n"
          },
          {
            "label": "delete",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nawait ai.environments.delete(created.id);\nconsole.log('Environment deleted successfully.');\n"
          },
          {
            "label": "delete",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.Environment;\n\nClient client = new Client();\n\n\nclient.environments.deleteEnvironment(envId);\nSystem.out.println(\n    \"com.google.genai.gaos.models.environments.Environment deleted successfully.\");\n"
          }
        ]
      },
      "get": {
        "operationId": "GetEnvironment",
        "description": "Gets an environment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Resource ID segment making up resource `name`. It identifies the resource\nwithin its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "tags": [
          "environments"
        ],
        "x-codeSamples": [
          {
            "label": "get",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/environments/env_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n\nenvironment = client.environments.get(id=created.id)\nprint(environment.id)\n"
          },
          {
            "label": "get",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n\nconst environment = await ai.environments.get(created.id);\nconsole.log(environment.id);\n"
          },
          {
            "label": "get",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.Environment;\n\nClient client = new Client();\n\n\ncom.google.genai.gaos.models.environments.Environment environment =\n    client.environments.getEnvironment(envId).environment().orElseThrow();\nSystem.out.println(environment.id().orElse(\"\"));\n"
          }
        ]
      }
    },
    "/{api_version}/interactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "post": {
        "operationId": "CreateInteraction",
        "description": "Creates a new interaction.",
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/AgentInteraction"
                  },
                  {
                    "$ref": "#/components/schemas/ModelInteraction"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "antigravity": {
                    "summary": "Antigravity Agent",
                    "value": {
                      "agent": "antigravity-preview-05-2026",
                      "created": "2025-11-26T12:22:47Z",
                      "environment_id": "env_abc123",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I've summarized the top 5 Hacker News stories and saved the results to /workspace/summary.md."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 50
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 500,
                        "total_thought_tokens": 200,
                        "total_tokens": 750,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "deep_research": {
                    "summary": "Deep Research",
                    "value": {
                      "agent": "deep-research-pro-preview-12-2025",
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Here is a comprehensive research report on the current state of cancer research..."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 20
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 20,
                        "total_output_tokens": 1000,
                        "total_thought_tokens": 500,
                        "total_tokens": 1520,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "function_calling": {
                    "summary": "Function Calling",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "requires_action",
                      "steps": [
                        {
                          "name": "get_weather",
                          "type": "function_call",
                          "arguments": {
                            "location": "Boston, MA"
                          },
                          "id": "gth23981"
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 100
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 100,
                        "total_output_tokens": 25,
                        "total_thought_tokens": 0,
                        "total_tokens": 125,
                        "total_tool_use_tokens": 50
                      }
                    }
                  },
                  "multi_turn": {
                    "summary": "Multi-turn",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "The capital of France is Paris."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 50
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 10,
                        "total_thought_tokens": 0,
                        "total_tokens": 60,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multimodal_image": {
                    "summary": "Image Input",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "A white humanoid robot with glowing blue eyes stands holding a red skateboard."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 10
                          },
                          {
                            "modality": "image",
                            "tokens": 258
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 268,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 0,
                        "total_tokens": 288,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "reuse_env": {
                    "summary": "Reuse Environment",
                    "value": {
                      "agent": "antigravity-preview-05-2026",
                      "created": "2025-11-26T12:23:00Z",
                      "environment_id": "env_abc123",
                      "id": "v1_Chd2ZTJhYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ejAxMjM0NTY3ODkwMTIzNDU2Nzg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I've updated /workspace/hello.py to accept a name argument and greet the user."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:23:00Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 80
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 80,
                        "total_output_tokens": 200,
                        "total_thought_tokens": 100,
                        "total_tokens": 380,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "simple": {
                    "summary": "Simple Request",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Hello! I'm functioning perfectly and ready to assist you.\n\nHow are you doing today?"
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:25:15Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 7
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 7,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 22,
                        "total_tokens": 49,
                        "total_tool_use_tokens": 0
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Interaction"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionSseStreamEnvelope"
                },
                "x-speakeasy-sse-sentinel": "[DONE]"
              }
            }
          },
          "4XX": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "interactions"
        ],
        "x-speakeasy-exports": [
          {
            "name": "InteractionCreateParams",
            "group": "interactions",
            "representation": "input"
          }
        ],
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "label": "simple",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": \"Hello, how are you?\"\n  }'\n"
          },
          {
            "label": "multi_turn",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": [\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n      { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n  }'\n"
          },
          {
            "label": "multimodal_image",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"What is in this picture?\"\n      },\n      {\n        \"type\": \"image\",\n        \"data\": \"BASE64_ENCODED_IMAGE\",\n        \"mime_type\": \"image/png\"\n      }\n    ]\n  }'\n"
          },
          {
            "label": "function_calling",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            }\n          },\n          \"required\": [\n            \"location\"\n          ]\n        }\n      }\n    ],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "label": "deep_research",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"deep-research-pro-preview-12-2025\",\n    \"input\": \"Find a cure to cancer\",\n    \"background\": true\n  }'\n"
          },
          {
            "label": "antigravity",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Read Hacker News, summarize the top 5 stories, and save results as a markdown file.\",\n    \"environment\": \"remote\"\n  }'\n"
          },
          {
            "label": "reuse_env",
            "lang": "sh",
            "source": "# Step 1: Create an interaction with a fresh remote environment.\nRESPONSE=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Write a hello world script at /workspace/hello.py.\",\n    \"environment\": \"remote\"\n  }')\nINTERACTION_ID=$(echo \"$RESPONSE\" | python3 -c \"import sys,json; print(json.load(sys.stdin)['id'])\")\nENV_ID=$(echo \"$RESPONSE\" | python3 -c \"import sys,json; print(json.load(sys.stdin)['environment_id'])\")\n\n# Step 2: Reuse the same environment in a follow-up interaction.\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"{\n    \\\"agent\\\": \\\"antigravity-preview-05-2026\\\",\n    \\\"input\\\": \\\"Modify the script to accept a name argument and greet the user.\\\",\n    \\\"environment\\\": \\\"$ENV_ID\\\",\n    \\\"previous_interaction_id\\\": \\\"$INTERACTION_ID\\\"\n  }\"\n"
          },
          {
            "label": "with_sources",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"List all files under /workspace and summarize what you find.\",\n    \"environment\": {\n      \"type\": \"remote\",\n      \"sources\": [\n        {\n          \"type\": \"repository\",\n          \"source\": \"https://github.com/octocat/Spoon-Knife\",\n          \"target\": \"/workspace/repo\"\n        },\n        {\n          \"type\": \"inline\",\n          \"content\": \"Focus on Python files only.\",\n          \"target\": \"/workspace/notes.txt\"\n        }\n      ]\n    }\n  }'\n"
          },
          {
            "label": "custom_agent",
            "lang": "sh",
            "source": "# Step 1: Create a custom agent.\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"id\": \"code-reviewer\",\n    \"base_agent\": \"antigravity-preview-05-2026\",\n    \"system_instruction\": \"You are a senior code reviewer. Check every file for bugs, style issues, and security vulnerabilities.\",\n    \"base_environment\": {\n      \"type\": \"remote\",\n      \"sources\": [{\n        \"type\": \"repository\",\n        \"source\": \"https://github.com/octocat/Spoon-Knife\",\n        \"target\": \"/workspace/repo\"\n      }]\n    }\n  }'\n\n# Step 2: Use the custom agent.\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"code-reviewer\",\n    \"input\": \"Review the latest changes in /workspace/repo/src and file a summary.\",\n    \"environment\": \"remote\"\n  }'\n"
          },
          {
            "label": "simple",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=\"Hello, how are you?\",\n)\nprint(interaction.output_text)\n"
          },
          {
            "label": "multi_turn",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=[\n        {\n            \"type\": \"user_input\",\n            \"content\": [{\"type\": \"text\", \"text\": \"Hello!\"}],\n        },\n        {\n            \"type\": \"model_output\",\n            \"content\": [{\n                \"type\": \"text\",\n                \"text\": \"Hi there! How can I help you today?\",\n            }],\n        },\n        {\n            \"type\": \"user_input\",\n            \"content\": [\n                {\"type\": \"text\", \"text\": \"What is the capital of France?\"}\n            ],\n        },\n    ],\n)\nprint(response.output_text)\n"
          },
          {
            "label": "multimodal_image",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=[\n        {\"type\": \"text\", \"text\": \"What is in this picture?\"},\n        {\n            \"type\": \"image\",\n            \"data\": \"BASE64_ENCODED_IMAGE\",\n            \"mime_type\": \"image/png\",\n        },\n    ],\n)\nprint(response.output_text)\n"
          },
          {
            "label": "function_calling",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": (\n                        \"The city and state, e.g. San Francisco, CA\"\n                    ),\n                }\n            },\n            \"required\": [\"location\"],\n        },\n    }],\n    input=\"What is the weather like in Boston, MA?\",\n)\nprint(response.steps[-1])\n"
          },
          {
            "label": "deep_research",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"deep-research-pro-preview-12-2025\",\n    input=\"find a cure to cancer\",\n    background=True,\n)\nprint(interaction.status)\n"
          },
          {
            "label": "antigravity",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=(\n        \"Read Hacker News, summarize the top 5 stories, and save results as\"\n        \" a markdown file.\"\n    ),\n    environment=\"remote\",\n)\nprint(interaction.output_text)\n"
          },
          {
            "label": "reuse_env",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# Step 1: Create an interaction with a fresh remote environment.\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Write a hello world script at /workspace/hello.py.\",\n    environment=\"remote\",\n)\nprint(f\"Environment ID: {interaction.environment_id}\")\n\n# Step 2: Reuse the same environment in a follow-up interaction.\ninteraction_2 = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Modify the script to accept a name argument and greet the user.\",\n    environment=interaction.environment_id,\n    previous_interaction_id=interaction.id,\n)\nprint(interaction_2.output_text)\n"
          },
          {
            "label": "with_sources",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"List all files under /workspace and summarize what you find.\",\n    environment={\n        \"type\": \"remote\",\n        \"sources\": [\n            {\n                \"type\": \"repository\",\n                \"source\": \"https://github.com/octocat/Spoon-Knife\",\n                \"target\": \"/workspace/repo\",\n            },\n            {\n                \"type\": \"inline\",\n                \"content\": \"Focus on Python files only.\",\n                \"target\": \"/workspace/notes.txt\",\n            },\n        ],\n    },\n)\nprint(interaction.output_text)\n"
          },
          {
            "label": "custom_agent",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# Step 1: Create a custom agent.\nagent_id = f\"code-reviewer-{uuid.uuid4().hex[:8]}\"\nclient.agents.create(\n    id=agent_id,\n    base_agent=\"antigravity-preview-05-2026\",\n    system_instruction=(\n        \"You are a senior code reviewer. Check every file for bugs, style\"\n        \" issues, and security vulnerabilities.\"\n    ),\n    base_environment={\n        \"type\": \"remote\",\n        \"sources\": [{\n            \"type\": \"repository\",\n            \"source\": \"https://github.com/octocat/Spoon-Knife\",\n            \"target\": \"/workspace/repo\",\n        }],\n    },\n)\n\n# Step 2: Use the custom agent.\nresult = client.interactions.create(\n    agent=agent_id,\n    input=(\n        \"Review the latest changes in /workspace/repo/src and file a\"\n        \" summary.\"\n    ),\n    environment=\"remote\",\n)\nprint(result.output_text)\n"
          },
          {
            "label": "simple",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  model: 'gemini-3.6-flash',\n  input: 'Hello, how are you?',\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "multi_turn",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  model: 'gemini-3.6-flash',\n  input: [\n    {type: 'user_input', content: [{type: 'text', text: 'Hello'}]},\n    {\n      type: 'model_output',\n      content: [\n        {type: 'text', text: 'Hi there! How can I help you today?'},\n      ],\n    },\n    {\n      type: 'user_input',\n      content: [{type: 'text', text: 'What is the capital of France?'}],\n    },\n  ],\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "multimodal_image",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  model: 'gemini-3.6-flash',\n  input: [\n    {type: 'text', text: 'What is in this picture?'},\n    {type: 'image', data: 'BASE64_ENCODED_IMAGE', mime_type: 'image/png'},\n  ],\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "function_calling",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  model: 'gemini-3.6-flash',\n  tools: [\n    {\n      type: 'function',\n      name: 'get_weather',\n      description: 'Get the current weather in a given location',\n      parameters: {\n        type: 'object',\n        properties: {\n          location: {\n            type: 'string',\n            description: 'The city and state, e.g. San Francisco, CA',\n          },\n        },\n        required: ['location'],\n      },\n    },\n  ],\n  input: 'What is the weather like in Boston, MA?',\n});\nconsole.log(interaction.steps.at(-1));\n"
          },
          {
            "label": "deep_research",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  agent: 'deep-research-pro-preview-12-2025',\n  input: 'find a cure to cancer',\n  background: true,\n});\nconsole.log(interaction.status);\n"
          },
          {
            "label": "antigravity",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  agent: 'antigravity-preview-05-2026',\n  input:\n    'Read Hacker News, summarize the top 5 stories, and save results as a markdown file.',\n  environment: 'remote',\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "reuse_env",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Step 1: Create an interaction with a fresh remote environment.\nconst interaction = await ai.interactions.create({\n  agent: 'antigravity-preview-05-2026',\n  input: 'Write a hello world script at /workspace/hello.py.',\n  environment: 'remote',\n});\nconsole.log(`Environment ID: ${interaction.environment_id}`);\n\n// Step 2: Reuse the same environment in a follow-up interaction.\nconst interaction2 = await ai.interactions.create({\n  agent: 'antigravity-preview-05-2026',\n  input: 'Modify the script to accept a name argument and greet the user.',\n  environment: interaction.environment_id,\n  previous_interaction_id: interaction.id,\n});\nconsole.log(interaction2.output_text);\n"
          },
          {
            "label": "with_sources",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n  agent: 'antigravity-preview-05-2026',\n  input: 'List all files under /workspace and summarize what you find.',\n  environment: {\n    type: 'remote',\n    sources: [\n      {\n        type: 'repository',\n        source: 'https://github.com/octocat/Spoon-Knife',\n        target: '/workspace/repo',\n      },\n      {\n        type: 'inline',\n        content: 'Focus on Python files only.',\n        target: '/workspace/notes.txt',\n      },\n    ],\n  },\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "custom_agent",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Step 1: Create a custom agent.\nconst agentId = `code-reviewer-${crypto.randomUUID().slice(0, 8)}`;\nawait ai.agents.create({\n  id: agentId,\n  base_agent: 'antigravity-preview-05-2026',\n  system_instruction:\n    'You are a senior code reviewer. Check every file for bugs, style issues, and security vulnerabilities.',\n  base_environment: {\n    type: 'remote',\n    sources: [\n      {\n        type: 'repository',\n        source: 'https://github.com/octocat/Spoon-Knife',\n        target: '/workspace/repo',\n      },\n    ],\n  },\n});\n\n// Step 2: Use the custom agent.\nconst result = await ai.interactions.create({\n  agent: agentId,\n  input:\n    'Review the latest changes in /workspace/repo/src and file a summary.',\n  environment: 'remote',\n});\nconsole.log(result.output_text);\n"
          },
          {
            "label": "simple",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\n\nClient client = new Client();\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.of(\"Hello, how are you?\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "multi_turn",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.ModelOutputStep;\nimport com.google.genai.gaos.models.interactions.Step;\nimport com.google.genai.gaos.models.interactions.TextContent;\nimport com.google.genai.gaos.models.interactions.UserInputStep;\n\nClient client = new Client();\nList<Step> conversation =\n    List.of(\n        UserInputStep.builder()\n            .content(List.of(TextContent.builder().text(\"Hello!\").build()))\n            .build(),\n        ModelOutputStep.builder()\n            .content(\n                List.of(\n                    TextContent.builder().text(\"Hi there! How can I help you today?\").build()))\n            .build(),\n        UserInputStep.builder()\n            .content(\n                List.of(TextContent.builder().text(\"What is the capital of France?\").build()))\n            .build());\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.ofStep(conversation))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "multimodal_image",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.Content;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.ImageContent;\nimport com.google.genai.gaos.models.interactions.ImageContentMimeType;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.TextContent;\n\nClient client = new Client();\nList<Content> content =\n    List.of(\n        TextContent.builder().text(\"What is in this picture?\").build(),\n        ImageContent.builder()\n            .data(\"BASE64_ENCODED_IMAGE\")\n            .mimeType(ImageContentMimeType.IMAGE_PNG)\n            .build());\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.ofContent(content))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "function_calling",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Function;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Step;\n\nClient client = new Client();\nMap<String, Object> parameters =\n    Map.of(\n        \"type\", \"object\",\n        \"properties\",\n            Map.of(\n                \"location\",\n                Map.of(\n                    \"type\", \"string\",\n                    \"description\", \"The city and state, e.g. San Francisco, CA\")),\n        \"required\", List.of(\"location\"));\nFunction functionTool =\n    Function.builder()\n        .name(\"get_weather\")\n        .description(\"Get the current weather in a given location\")\n        .parameters(parameters)\n        .build();\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .tools(List.of(functionTool))\n        .input(InteractionsInput.of(\"What is the weather like in Boston, MA?\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nList<Step> steps = interaction.steps().orElse(List.of());\nif (!steps.isEmpty()) {\n  System.out.println(steps.get(steps.size() - 1));\n}\n"
          },
          {
            "label": "deep_research",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionStatus;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\n\nClient client = new Client();\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"deep-research-pro-preview-12-2025\"))\n        .input(InteractionsInput.of(\"find a cure to cancer\"))\n        .background(true)\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.status().map(InteractionStatus::value).orElse(\"\"));\n"
          },
          {
            "label": "antigravity",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\n\nClient client = new Client();\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(\n            InteractionsInput.of(\n                \"Read Hacker News, summarize the top 5 stories, and save results as a markdown\"\n                    + \" file.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "reuse_env",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Step;\n\nClient client = new Client();\n\n// Step 1: Create an interaction with a fresh remote environment.\nCreateAgentInteraction params1 =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(InteractionsInput.of(\"Write a hello world script at /workspace/hello.py.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse response1 =\n    client.interactions.create(CreateInteractionRequestBody.of(params1));\nInteraction interaction1 =\n    response1.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(\"Environment ID: \" + interaction1.environmentId().orElse(\"\"));\n\n// Step 2: Reuse the same environment in a follow-up interaction.\nCreateAgentInteraction params2 =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(\n            InteractionsInput.of(\n                \"Modify the script to accept a name argument and greet the user.\"))\n        .environment(\n            CreateAgentInteractionEnvironment.of(interaction1.environmentId().orElse(\"\")))\n        .previousInteractionId(interaction1.id().orElse(null))\n        .build();\nCreateInteractionResponse response2 =\n    client.interactions.create(CreateInteractionRequestBody.of(params2));\nInteraction interaction2 =\n    response2.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction2.outputText().orElse(\"\"));\n"
          },
          {
            "label": "with_sources",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\n\nClient client = new Client();\ncom.google.genai.gaos.models.interactions.Environment env =\n    com.google.genai.gaos.models.interactions.Environment.builder()\n        .sources(\n            List.of(\n                Source.builder()\n                    .type(SourceType.REPOSITORY)\n                    .source(\"https://github.com/octocat/Spoon-Knife\")\n                    .target(\"/workspace/repo\")\n                    .build(),\n                Source.builder()\n                    .type(SourceType.INLINE)\n                    .content(\"Focus on Python files only.\")\n                    .target(\"/workspace/notes.txt\")\n                    .build()))\n        .build();\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(\n            InteractionsInput.of(\n                \"List all files under /workspace and summarize what you find.\"))\n        .environment(CreateAgentInteractionEnvironment.of(env))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "custom_agent",
            "lang": "java",
            "source": "import com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport com.google.genai.gaos.models.interactions.Step;\n\nClient client = new Client();\n\n// Step 1: Create a custom agent.\nString agentId = \"code-reviewer-\" + UUID.randomUUID().toString().substring(0, 8);\ncom.google.genai.gaos.models.interactions.Environment baseEnv =\n    com.google.genai.gaos.models.interactions.Environment.builder()\n        .sources(\n            List.of(\n                Source.builder()\n                    .type(SourceType.REPOSITORY)\n                    .source(\"https://github.com/octocat/Spoon-Knife\")\n                    .target(\"/workspace/repo\")\n                    .build()))\n        .build();\nAgent customAgent =\n    Agent.builder()\n        .id(agentId)\n        .baseAgent(\"antigravity-preview-05-2026\")\n        .systemInstruction(\n            \"You are a senior code reviewer. Check every file for bugs, style issues, and\"\n                + \" security vulnerabilities.\")\n        .baseEnvironment(BaseEnvironment.of(baseEnv))\n        .build();\nclient.agents.create(customAgent);\n\n// Step 2: Use the custom agent.\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(agentId))\n        .input(\n            InteractionsInput.of(\n                \"Review the latest changes in /workspace/repo/src and file a summary.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          }
        ]
      }
    },
    "/{api_version}/interactions/{interactionsId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
[...]
